<div class="col-sm-6 col-md-4 col-md-offset-4">
      <a href="/signup" class="thumbnail about">
        <img src="app/img/whatcanieat.png" alt="main icon" class="abouticon">
      </a>

   <h2 class="abouttext">Are you on a restrictive diet? Do you have multiple food allergies? Do you choose to exclude certain items from your diet? If so, then WHAT CAN I EAT? is perfect for you!</h2>  
   <h2 class="abouttext">WHAT CAN I EAT? is a database of food products categorized based on Paleo, Gluten-Free, and Dairy-Free diets. It's purpose is to assist consumers in locating products suitable for their dietary wants and needs.</h2>  
</div>
