<div class="col-sm-6 col-md-4 col-md-offset-4">
    <!-- <a href="/dairyfree" class="thumbnail">
      <img src="app/img/dairyfree.png" alt="dairyfree icon">
    </a> -->
    <h2 class="paleo-text1">VEGAN</h2>
</div>

<div class="form-group">
  <input type="text" class="form-control favform" id="search" ng-model="search" placeholder="ex. product name">
 <!--  <h2 for="search" class="favsearch">Search</h2> -->
</div>

<div class="well" ng-repeat="product in products | filter:{name:search} track by product._id" ng-if="product.diet == 2 || 3 || 4">
  <img class="product-image media-left" ng-src="{{product.image}}"><h1 class="productname" ><a ng-href="/products/{{product._id}}">{{product.company}}<br>{{product.name}}</a></h1>
  
 <a ng-click="addFav(product._id)" class="pull-right"><img src="app/img/like.png" alt="fav icon" class="favbutton"></a>
</div>