<h1 class="header">Eating shouldn't be complicated!</h1>
<h4 class="header2">Choose your diet below!</h1>
<main class="container container-table">
  <div class="row vertical-center-row">
    <div class="col-sm-6 col-md-4 categories paleoimage">
      <a href="/paleo" class="thumbnail text">
      PALEO
        <!-- <img src="app/img/PALEO.png" alt="paleo icon"> -->
      </a>
    </div>
     <div class="col-sm-6 col-md-4 categories veganimage">
      <a href="/dairyfree" class="thumbnail text">
      VEGAN
        <!-- <img src="app/img/glutenfree.png" alt="glutenfree icon"> -->
      </a>
    </div>
     <div class="col-sm-6 col-md-4 categories gluten glutenimage">
      <a href="/glutenfree" class="thumbnail text gluten2">
      GLUTEN
      <br>
      FREE
        <!-- <img src="app/img/dairyfree.png" alt="dairyfree icon"> -->
      </a>
    </div>
  </div>
</main>
