

<div class="well">
    <div class="row show">
    <div class="col-sm-6 col-md-7 col-md-offset-3 col-lg-8 col-lg-offset-1">
      <div class="thumbnail productdetail">
      <h1 class="productshow">{{product.company}} - {{product.name}}</h1>
        <img ng-src="{{product.image}}" class="img-show">
        <div class="caption">
          <ul class="list">
            <li>Ingredients: {{product.ingredients}}</li>
            <br>
            <li>UPC: {{product.upc}}</li>
            <br>
            <li>Average Price: {{product.price}}</li>
            <br>
            <li>Category: {{product.category}}</li>
          </ul>       
          <a href="/home" class="btn btn-primary back">&larr; Back</a>
          <a ng-href="{{product.buy}}"><img src="app/img/amazonbutton.gif">
        </div>
      </div>
    </div>
  </div>
</div>






