html, body, .container-table {
  background-color: #FFF;
  height: 100%;
  font-family: 'Open Sans Condensed';
}


.container-fluid {
    padding-right: 0px !important; 
    padding-left: 0px !important; 
    margin-right: auto;
    margin-left: auto;
}

.logo {
  width: 75% !important;
  margin-top: -118px !important;
  margin-left: 250px !important;
}

.categories {
  border: 1px solid #ccc;
  height: 250px;
  margin-right: 15px;
}

.gluten {
  margin-right: -60px;
}

.gluten2 {
  margin-top: 45px !important;
}

.text {
  font-family: 'Alegreya Sans';
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  color: #FFF;
  margin-top: 80px;
}

.text:hover {
  color: #000;
}

.home {
  border-right: 1px solid #ccc;
  margin-left: -21px;
  padding-right: 50px !important;
}

.fav {
  margin-left: 25px;
}

.abt {
  border-right: 1px solid #ccc;
  margin-right: 26px;
}

.logout {
  padding-right: 0px !important;
}

/* AFTER SIGNUP PAGE */
.row ng-scope {
  margin: 0 auto;
}

.container-table {
    display: inline-table;
    margin-left: 45px;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.header{
  font-size: 3em;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 180px;
  font-family: 'Alegreya Sans';
}

.paleoimage {
  background-image: url("/app/img/paleo.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.veganimage {
  background-image: url("/app/img/vegan.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.glutenimage {
  background-image: url("/app/img/gluten.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header2{
  font-size: 2em;
  text-align: center;
  font-weight: 800;
  margin-bottom: 80px;
  margin-top: 20px;
  font-family: 'Alegreya Sans';
}


/* PRODUCT LIST PAGE */
.img-responsive {
  width: 25%;
  margin-top: 20px;
  margin-left: 20px;
}

.btn-danger {
  margin-top: -40px;
}

.productname {
  margin-left: 105px;
  font-size: 3em;
  margin-top: -93px;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

/* SIGNUP */
div.member_signin {
    text-align: center;
    margin-left: -35px;
}

div.member_signin  i.fa.fa-user {
    color: #FFF;
    background-color: #9EEE72;
    border-radius: 500px;
    font-size: 1.5em;
    padding: 15px 20px 15px 20px;
}

div.fa_user {
    margin-top: -47px;
    margin-bottom: 15px;
}

p.member {
    font-size: 15px;
    color: #888888;
    margin-bottom: 20px;
}

button.login {
    margin-top: 10px;
    width: 200px;
    height: 100px;
    text-transform: uppercase;
}

form.loginform div.input-group {
    width: 100%;
    margin-bottom: 10px;
}

form.loginform input[type="email"], form.loginform input[type="password"] {
    color: #6C6C6C;
    text-align: center;
}

p.forgotpass {
    margin-top: 10px;
}

p.forgotpass a {
    color: #F5683D;
}
.btn-primary {
    color: #fff;
    background-color: #9EEE72;
    border-color: transparent;
}

.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 1px 1px transparent;
    box-shadow: 0 1px 1px transparent;
}

body > div.container > div:nth-child(2) {
  margin-top: 60px;
}

.before {
  margin-top: 200px;
}

.before-login {
  margin-top: -50px;
}

/* PRODUCT DISPLAY */
.form-group {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

.show {
  display: inline-block;
  float: none;
  text-align: left;
  margin-left: 60px;

}

.showproduct {
  margin-top: -700px;

}

.back {
  margin-top: -845px;
  margin-left: -120px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 20px;
  border: 1px solid transparent ;
  background-color: rgba(241, 196, 15,0.3);
  /*border-top: 1px solid black !important;*/
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1); 
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1); 
}

.favbutton {
  width: 80px;
}
.pull-right {
  margin-top: -75px;
  margin-right: 10px;
}


/* NAV-BAR */

.navbar-default {
  background-color: white;
  border-color: transparent;
  border-bottom: 1px solid #cccccc;
  border-radius: none;
  width: 100%;
}

.navbar-left {
  margin-left: -955px;
}

.navbar-right {
  margin-right: 50px;
}

.navbar-default .navbar-brand {
  color: black;
  font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  font-size: 1.5em;
  font-weight: 100;
  font-family: 'Alegreya Sans';
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-collapse.navbar-ex1-collapse.collapse.in {
  border-color: transparent;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}


@media (min-width: 768px) {

.navbar {
     border-radius: 0px; 
}

}

/* SELECT A DIET */

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
     background-color: transparent; 
     border: 0px solid transparent; 
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

/* PALEO */

.title {
  font-size: 5em;
  text-align: center;
  margin-top: 60px;
}

.form-control {
  margin-bottom: 50px;
}
.paleo {
  margin: 0 auto;
}
.paleo-text1 {
  margin-top: 200px;
  font-family: 'Alegreya Sans';
  font-size: 4em;
  text-align: center;

}

/* FAVORITES */

.favorites {
  margin: 0 auto;
}
.favsearch {
  text-align: center;
  margin-bottom: 50px;
}
.favs {
  margin-top: 100px;
}
.favform {
  margin-bottom: 10px;
}

.favorite-text {
  text-align: center;
  font-size: 4em;
  font-family: 'Alegreya Sans';
}

/* HOME */

.signup {
  text-align: center;
  font-size: 3em;
  background-color: #A2DCEA;
  color: black;
  margin-left: 100px;
}

.hometext {
  font-size: 3em;
  text-align: center;
}

/* LOGIN */

.login {
  text-align: center;
  font-size: 5em;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  text-align: left; 
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
     border-bottom: 1px solid transparent; 
}

/* SIGNUP */

.signupicon {
  width: 75%;
}

/* PRODUCT DETAIL */
 .img-show {
  width: 30%;
 }

 .productshow {
  text-align: center;
  font-size: 3.5em;
}
.list {
  font-size: 1.5em;
  list-style-type: none;
  margin: 0 auto;
  width: 120%;
}
.productdetail {
  width: 500px;
}

/*ABOUT*/
.abouttext{
  width: 600px;
  text-align: center;
  margin-left: -110px;
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  line-height: 5rem;
}

.about-text {
  margin-top: 200px;
}

.about{
  margin-left: 40px;
  margin-bottom: -10px;
  width: 80%;
}
.abouticon {
  margin-top: -30px;
}

.fav-contain {
  margin-top: 200px;
}

